ENVIRONMENT=local
MOCK_BACKEND=true
PORT
XSUAA_SERVICE_NAME
MCP_URL
MCP_TOKEN
MCP_TOOL

# Destination + Commerce API
DESTINATION_NAME=
DESTINATION_SERVICE_INSTANCE_NAME=
COMMERCE_PRODUCTS_PATH=/Products